<div class="container">
  <h1>Register</h1>
  <form (ngSubmit)="register()">
    <md-input-container>
      <input mdInput required
             type="text"
             name="username"
             placeholder="Username"
             [(ngModel)]="model.username" />
    </md-input-container>
    <md-input-container>
      <input mdInput
             type="text"
             name="email"
             placeholder="Email"
             [(ngModel)]="model.email" />
    </md-input-container>
    <md-input-container>
      <input mdInput required
             type="password"
             name="password"
             placeholder="Password"
             [(ngModel)]="model.password" />
    </md-input-container>
    <md-input-container>
      <input mdInput required
             type="password"
             name="verifyPassword"
             placeholder="Verify Password"
             [(ngModel)]="model.verifyPassword" />
    </md-input-container>
    <button md-raised-button type="submit" color="primary">Register</button>
  </form>
</div>
