<div class="container container-top">
  <div class="container-header">
    <h1>Register</h1>
  </div>
  <form (ngSubmit)="register($event)">
    <div class="container-body">
      <md-input-container>
        <input mdInput required
               type="text"
               name="username"
               placeholder="Username"
               [(ngModel)]="model.username" />
      </md-input-container>
      <md-input-container>
        <input mdInput
               type="text"
               name="email"
               placeholder="Email"
               [(ngModel)]="model.email" />
      </md-input-container>
      <md-input-container>
        <input mdInput required
               type="password"
               name="password"
               placeholder="Password"
               [(ngModel)]="model.password" />
      </md-input-container>
      <md-input-container>
        <input mdInput required
               type="password"
               name="verifyPassword"
               placeholder="Verify Password"
               [(ngModel)]="model.verifyPassword" />
      </md-input-container>
    </div>
    <div class="container-footer">
      <button md-raised-button (click)="routeBack()">Back</button>
      <button md-raised-button type="submit" color="primary">Register</button>
    </div>
  </form>
</div>
<div *ngFor="let err of errors" class="container">
  <span class="red-text">{{err}}</span>
</div>
