<div class="at-bookmarks-page">
  <md-nav-list class="list-no-padding">
    <md-list-item *ngFor="let bkmk of bookmarks" class="list-bottom-border">
      <a md-line
         [href]="bkmk.link"
         target="_blank">
        {{ bkmk.description || bkmk.link }}
      </a>
      <a (click)="edit(bkmk._id)"><md-icon>edit</md-icon></a>
      <a (click)="delete(bkmk._id)"><md-icon>delete</md-icon></a>
    </md-list-item>
    <md-list-item *ngIf="bookmarks.length === 0">No bookmarks</md-list-item>
  </md-nav-list>
</div>
